body{
background-color: #f8b2f3;

}
.field{
    display: flex;
}

.tools .colorfd{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin-bottom: 10px;
}

.tools{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: azure;
    border: 2px solid black;
}
.colorfd:hover{
    border: 2px solid black;
}

.tools .button{
    height: 40px;
    width: 80px;
    align-self: center;
    border: 2px solid white;
    color:white;
    cursor: pointer;
    background: blueviolet;
    margin: 0 ;
    padding: 2px;
    
}
.button{
    margin-top: 8px;
}
.button:hover{
    color: blue;
    border: 2px solid black;
}
.color-picker{
    height: 40px;
    width: 70px;
    align-self: center;
    border: 2px solid white;
    cursor: pointer;
    margin: 0 ;

}
.pen-range{
    align-self: center;
    margin-top: 20px;
}
pen-range:hover{
    border: 2px solid black;
}


.canvas{
    box-shadow: -3px 2px 5px 6px rgb(25, 178, 229);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 38px;
   }

   .advice-slip {
    background: #f8b2f3;
    color: #a52a2a;
    font-style: italic;
    width: 60%;
    height: 70px;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom: 2px;
    border-radius: 0.25em;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
  }
  